    :root {
            --darklight-text: #000000;
            --darklight-bg: #ffffff;
}
    @media (prefers-color-scheme: dark) {
        :root {
            --darklight-text: #f0f0f0;
            --darklight-bg: #0f0f0f;
        }
        
        a:link{
            color:#8dbbff;
        }
        
        a:visited{
            color:#cd9cfd;
        }
        
}
        


body {
        font-family: sans-serif;
        color: var(--darklight-text);
        background-color: var(--darklight-bg);
    }


label {
            display: block;
            margin-top: 10px;
            margin-left: 0px;
        }
        
        .title{
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
        }
        
        .languagechange button{
            font-size: 14px;
            font-style: normal;
            min-height: 32px;
            margin-left: 40px;
            margin-bottom: 0px;
            margin-top: 16px;
        }
        
        .input-container {
            display: flex;
            align-items: flex-start; /* テキストボックスの縦を揃える */
            margin-left: 0px;
        }
        .input-group-container {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            margin-left: 20px;
            
        }
        .input-group {
           display: flex;
            
            align-items: center;
            margin-bottom: 10px;
            //background-image: linear-gradient(60deg, rgba(50, 0, 0, 1) ,rgba(80,0,0,1),rgba(50, 0, 0, 1));
            margin-left: 0px;
            
        }
        
        
        
        .input-group label {
            margin-right: 10px;
            margin-top: 0px;
            width: 150px; /* ラベルの幅を固定 */
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
           
        }
        .input-group input {
           
            
        }
        .preset-buttons {
            display: flex;
            flex-direction: column;
        }
        .preset-buttons button {
            margin-bottom: 5px;
            text-align: left;
            min-height: 26px;
            min-width: 160px;
            
        }
        
        .input-group img{
            width: 16px;
            height: 16px;
            padding-top:2px;
        }
        
        
        .damagetableimage { 
            max-width: 840px; 
            margin-left: 20px;
        }

        
        .damagetableimage img { 
            width: 100%;
        }

        .result{
            display: flex;
            flex:initial;
            width: 33%;
            min-width: 360px;
            min-height: 180px;
            flex-direction: column;
            flex: 0%;
            
             background-image: linear-gradient(60deg, rgba(50, 0, 0, 1) ,rgba(80,0,0,1),rgba(50, 0, 0, 1));
            
            color: #ffffff;
            margin-left: 20px;
            
        }
        
        .resultvalue{
            display: flex;
            flex: 0;
            flex-direction: row;
            padding: 8px 0px 0px 16px;
            
            min-width: 180px;
            min-height: 32px;
            
            font-size: 24px;
            font-weight: bold;
            
            color: #ffffff;
        }
        
        
        
        .multipleeffect{
            display: flex;
            flex: 0;
            flex-direction: row;
            padding: 0px 0px 0px 16px;
            
            min-width: 180px;
            min-height: 0px;
            
            font-size: 16px;
            font-weight: bold;
            
            color: #ffffff;
        }
        
        .formula {
            //margin-right: 10px;
            //margin-top: 0px;
            //text-align: center;
            display: flex;
            flex:auto;
            flex-direction: column;
            //flex-direction: row;
            //justify-content: flex-start;
            margin-left: 36px;
           
        }
        .formula img{
            width: 16px;
            height: 16px;
            padding-top: 2px;
        }
        
        .formula_calcuation{
            
        }
        
        .glitchyourwaytovictory{
            padding: 8px 32px 16px 0px;
            flex-direction: column;
            margin-right: 0;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: 0;
            background: linear-gradient(150deg, rgba(255, 176, 177, 1), rgba(252, 199, 174, 1) 10%, rgba(246, 246, 175, 1) 30%, rgba(179, 255, 173, 1) 50%, rgba(178, 249, 235, 1) 70%, rgba(194, 160, 255, 1) 90%, rgba(177, 134, 208, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 28px;
            font-weight: bold;
            display: inline-block;
            
            
            
            letter-spacing : 0px;                
            
            
            opacity: 1;
            
}

         .contents {
            display: flex;
            flex-direction: row;
	
	  > * {
		    display: inline-block;
		    flex: 0.33;
		    padding: 5px;
    }
}

        @media (max-width: 900px) {
            .contents {
                padding: 0px 0px;
                flex-direction: column
    }
}


        @media (max-width: 600px) {
           .preset-buttons button {
            font-size: 75%;
        }
    
}



        ul{
             padding-left:0;
}

        li{
            list-style:none;
}
            
        
        