:root {
    --darklight-targetdamage-header: #f2f2f2;
    --darklight-targetdamage-cell: #ffffff;
    --darklight-targetdamage-highlight: #ffff99;
    --darklight-targetdamage-unusetext: #c0c0c0;
    --darklight-targetdamage-cell-skip: #f5f5f5;
}
    @media (prefers-color-scheme: dark) {
        :root {
            --darklight-targetdamage-header: #696969;
            --darklight-targetdamage-cell: #0f0f0f;
            --darklight-targetdamage-highlight: #191970;
            --darklight-targetdamage-unusetext: #c0c0c0;
            --darklight-targetdamage-cell-skip: #626262;
        }
}



.targetdamage form {
    margin-bottom: 20px;
}

.targetdamage table {
    min-width: 360px;
    
    border-collapse: collapse;
}





.targetdamage table img {
    width: 16px;
    height: 16px;
}



.targetdamage th, .targetdamage td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
    
}




.targetdamage td{
    padding:2px;
    min-height: 40px;
    min-width: 130px;
}





.targetdamage_skip {
    padding: 0px;
    line-height:10px;
    font-size: 12px;
    background-color:var(--darklight-targetdamage-cell-skip);
}

.targetdamage th {
    //background-color: #f2f2f2;
    background-color: var(--darklight-targetdamage-header);
}

.targetdamage_input-container {
            display: flex;
            align-items: flex-start; /* テキストボックスの縦を揃える */
            margin-left: 0px;
        }

.targetdamage_swapbutton img {
    width: 16px;
    height: 16px;
}

.targetdamage_button_and_table {
    padding-left:4px;
}

.targetdamage_highlight {
    background-color: var(--darklight-targetdamage-highlight); /* ハイライト色 */
}



@media (max-width: 640px) {
           .targetdamage th td {
            max-width: 0px;
        }

    
    
    